:root {
  --light: aliceblue;
  --dark: #43bbaddb;
  --header: darkblue;
  --border: .2rem;
  --sm: .5rem;
  --md: 1.75rem;
  --lg: 3rem;
  --txt: 24px;
  --large-width: 75ch;
  --medium-width: 65ch;
  --narrow-width: 55ch;
}

.bg-dark {
  color: var(--light);
  background-color: var(--dark);
}

body {
  font-size: var(--txt);
}

header {
  background-color: var(--header);
}

.contain {
  padding-right: var(--md);
  padding-left: var(--md);
  padding-top: var(--md);
  max-width: var(--large-width);
  margin: auto;
}

.contain p {
  max-width: var(--medium-width);
  margin: auto;
}

h2 {
  max-width: 30ch;
  margin-left: auto;
  margin-right: auto;
}